

@font-face {
    font-family: 'AvenirReg';
    src: url("../fonts/avenir/AvenirNextLTPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirBld';
    src: url("../fonts/avenir/AvenirNextLTPro-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

